@using MVC_2020_Database.DataModels

@{
    ViewData["Title"] = "Admin";
    var listOrgUnit = ViewBag.OrgUnits;
}

<h2>Admin</h2>

<div class="ui three item menu">
    <a class="active item">Unidades de Investigação</a>
    <a class="item">Perfis</a>
    <a class="item">Upcoming Features</a>
</div>

<br />

<!--primeira coluna-->
<div class="ui grid">
    <div class="six wide column">
        <button type="button" class="ui primary button" onclick="openModal()">Criar</button>
    </div>
</div>


<br />
<br />


@*Modal*@
<div class="ui modal">
    @*Header*@
    <div class="header">Adicionar nova Unidade de Investigação</div>
    @*<div class="ui icon header">
            <i class="archive icon"></i>
            Archive Old Messages
        </div>*@

    @*Content*@
    <div class="content">
        <p>Preencha os campos com os dados da nova unidade de investigação.</p>

        <form class="ui form" method="post">
            <div class="field">
                <label>Nome</label>
                <input type="text" name="nome" placeholder="Nome">
            </div>

            <div class="field">
                <label>Acrónimo</label>
                <input type="text" name="acronimo" placeholder="Acrónimo">
            </div>

            <div class="field">
                <label>Morada</label>
                <input type="text" name="morada" placeholder="Morada">
            </div>

            <div class="field">
                <label>Data início</label>
                <input type="date" name="data_ini" placeholder="Data início">
            </div>

            <div class="field">
                <label>Data fim</label>
                <input type="date" name="data_fim" placeholder="Data fim">
            </div>

            @*<div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>I agree to the Terms and Conditions</label>
                    </div>
                </div>*@

            <div class="row">
                <div class="col-md-4 pull-right btn-group">
                    @*<input class="btn btn-default col-md-6" type="submit" name="submit_cancel" value="Cancel" />*@
                    <button class="ui button" type="submit" name="cancelar_bt" value="cancel">Cancelar</button>
                    <button class="ui primary button" type="submit" name="adicionar_bt" value="add">Adicionar</button>
                </div>
                <br>
            </div>

        </form>
    </div>
</div>

@if (listOrgUnit != null)
{
    <div class="ui two cards">

        @foreach (MVC_2020_Business.Models.UnidadeInvestigacao orgUnit in listOrgUnit)
        {
            <div class="ui raised card" id="@orgUnit.OrgUnitId">
                <div class="content">
                    <div class="header">@orgUnit.Name (@orgUnit.Acronym)</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Resumo</h4>

                    <div class="ui feed">

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data início:</a> 01/01/1111
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data fim: </a> 01/01/1111
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Mais dados:</a> bla bla
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui primary button" onclick="window.open('@Url.Action("Details", "Org", new { target = "_blank" })')">Mais detalhes</button>
                </div>
            </div>
        }


        @*<div class="ui raised card" href="">
                <div class="content">
                    <div class="header">Instituto de Materiais de Aveiro (CICECO)</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Resumo</h4>

                    <div class="ui feed">

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data início:</a> 01/01/1111
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data fim: </a> 01/01/1111
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Mais dados:</a> bla bla
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui primary button" onclick="window.open('@Url.Action("Details", "Org", new { target = "_blank" })')">Mais detalhes</button>
                </div>
            </div>*@

    </div>
}
else
{
    <p>Não tem registo das Unidades de Investigação em que trabalhou.</p>
    <p>Pode inserir um registo através do botão <button class="ui primary button">Entrar</button></p>
}

<script>
    function toggleText() {
        var text = document.getElementById("hidden_info");
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    function openModal() {
        $('.ui.modal')
            .modal('show')
            ;
    }

    //Menu
    $('.ui .item').on('click', function () {
        $('.ui .item').removeClass('active');
        $(this).addClass('active');
    });

</script>

