@{
    Layout = "Form_Layout";
    ViewData["Title"] = "License";
    var dados = ViewBag.dados;
}

    <p>@dados</p>

<!DOCTYPE html>
<!-- saved from url=(0024)https://ria.ua.pt/submit -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DSpace Distribution License | Repositório Institucional da Universidade de Aveiro</title>

    <meta name="Generator" content="DSpace 5.2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://ria.ua.pt/favicon.ico?v=2" type="image/x-icon">
    <link rel="stylesheet" href="~/8-dSPaceLicense_files/jquery-ui-1.10.3.custom.css" type="text/css">
    @*<link rel="stylesheet" href="~/8-dSPaceLicense_files/bootstrap.min.css" type="text/css">*@
    <link rel="stylesheet" href="~/8-dSPaceLicense_files/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="~/8-dSPaceLicense_files/dspace-theme.css" type="text/css">
    <link rel="stylesheet" href="~/8-dSPaceLicense_files/ua-style.css" type="text/css">

    <link rel="search" type="application/opensearchdescription+xml" href="https://ria.ua.pt/open-search/description.xml" title="DSpace">


    <script type="text/javascript" async="" src="~/8-dSPaceLicense_files/ga.js"></script>
    <script type="text/javascript" src="~/8-dSPaceLicense_files/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/8-dSPaceLicense_files/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/8-dSPaceLicense_files/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/8-dSPaceLicense_files/holder.js"></script>
    <script type="text/javascript" src="~/8-dSPaceLicense_files/utils.js"></script>
    <script type="text/javascript" src="~/8-dSPaceLicense_files/choice-support.js"></script>



    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11801506-24']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();</script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <style id="holderjs-style" type="text/css">
        .holderjs-fluid {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            font-family: sans-serif;
            margin: 0
        }
    </style>
</head>



<body class="undernavigation" style="">
    <a class="sr-only" href="https://ria.ua.pt/submit#content">Skip navigation</a>
    <main id="content" role="main">
        <div class="container submission-container">

            <form action="dSpaceLicense" method="post" onkeydown="return disableEnterKey(event);">

                <!--Progress Bar-->
                <div class="row container btn-group">

                    <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_2_1" value="Describe" @*onclick="BackToMetadata1(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))"*@>

                    <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_2_2" value="Describe" @*onclick="BackToMetaData2(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))"*@>

                    <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_3_1" value="Upload" @*onclick="BackToMetaData3(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))"*@>

                    <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_4_1" value="Verify" @*onclick="BackToPubSubmission(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))"*@>

                    <input class="submitProgressButtonCurrent btn btn-primary" disabled="disabled" type="submit" name="submit_jump_5.1" value="License">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_6.1" value="Complete">

                </div>

                <h1>
                    DSpace Distribution License
                </h1>
                <div class="alert alert-info"><strong>There is one last step:</strong> In order for DSpace to reproduce, translate and distribute your submission worldwide, your agreement to the following terms is necessary.  Please take a moment to read the terms of this license, and click on one of the buttons at the bottom of the page.  By clicking on the "Grant License" button, you indicate that you grant the following terms of the license.</div>


                <p><strong>Not granting the license will not delete your submission.</strong> Your item will remain in your "My Account" page.  You can then either remove the submission from the system, or agree to the license later once any queries you might have are resolved.</p>

                <pre class="panel panel-primary col-md-10 col-md-offset-1">Licença de Distribuição Não Exclusiva
                    Os depositantes devem conceder à Universidade de Aveiro uma
                    Licença de Distribuição Não Exclusiva para manter e tornar 
                    acessíveis os seus documentos em formato digital no RIA 
                    (Repositório Institucional da Universidade de Aveiro).
                    Com a concessão desta licença, os docentes e investigadores 
                    continuam a reter todos os direitos de autor.


                    Licença de Distribuição Não-Exclusiva

                    Ao assinar e entregar esta licença, o autor:

                    a) Declara que conhece a política de copyright da 
                    editora do seu documento.

                    b) Concede à Universidade de Aveiro o direito não exclusivo 
                    de arquivar, reproduzir, converter (como definido na 
                    alínea C),comunicar e/ou distribuir no RIA, o documento 
                    entregue(incluindo o resumo/abstract) em formato digital 
                    ou por qualquer outro meio.

                    c) Declara que autoriza a Universidade de Aveiro a arquivar
                    mais de uma cópia deste documento e convertê-lo, sem 
                    alterar o seu conteúdo, para qualquer formato de ficheiro, 
                    meio ou suporte, para efeitos de segurança, preservação e acesso.

                    d) Declara que o documento entregue é o seu trabalho original
                    e que detém o direito de conceder a terceiros os direitos
                    contidos nesta licença. Declara também que a entrega do documento
                    não infringe os direitos de qualquer outra pessoa ou entidade.

                    e) Declara que, no caso do documento entregue conter material 
                    do qual não detém os direitos de autor, obteve a autorização 
                    do respectivo detentor desses direitos, com vista a poder por
                    sua vez autorizar a Universidade de Aveiro a utilizá-lo 
                    legalmente.
                    Declara também que esse material, cujos direitos são de
                    terceiros, está claramente identificado e reconhecido no
                    texto ou conteúdo do documento entregue.

                    f) Se o documento entregue é baseado em trabalho financiado
                    ou apoiado por outra instituição que não a Universidade de
                    Aveiro, declara que cumpriu quaisquer obrigações exigidas
                    pelo respetivo contrato ou acordo.

                    A Universidade de Aveiro identificará claramente o(s) nome(s)
                    do(s) autor(es) dos direitos do documento entregue e não fará
                    qualquer alteração, para além do previsto na alínea b).
                    </pre>


                <input type="hidden" name="workspace_item_id" value="44987"><input type="hidden" name="step" value="5"><input type="hidden" name="page" value="1"><input type="hidden" name="jsp" value="/submit/show-license.jsp">

                <div class="btn-group col-md-6 col-md-offset-3">
                    <input class="btn btn-warning col-md-6" type="submit" name="submit_reject" value="I Do Not Grant the License">
                    <input class="btn btn-success col-md-6" type="submit" name="submit_grant" value="I Grant the License" onclick="popUp()">
                    <input type="hidden" name="works" value="@Newtonsoft.Json.JsonConvert.SerializeObject(dados)" />
                    <input type="hidden" name="pubID" value="@dados["ID"]" />
                </div>
            </form>
        </div>
    </main>
    <br />

</body>
</html>

<script>

    function popUp() {
        confirm("Publicação está pronto para passar para o ria")
    }

    function BackToPubSubmission(dados) {
        $.post("PublicationSubmission_Helper", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

    function BackToMetadata1(dados) {
        $.post("PublicationMetaData1_Help", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

    function BackToMetaData2(dados) {
        $.post("PublicationMetaData2_Helper", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

    function BackToMetaData3(dados) {
        $.post("PublicationMetaData3_Helper", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

</script>