@{
    //Layout = "_3ColsLayout";
    ViewData["Title"] = "Minhas Publicações";
    var pubsInBD = ViewBag.pubsInBD;
    var count = 0;
}


<div><h2>@ViewData["Title"]</h2></div>
<br />
<br />

<div class="ui category search">
    <div class="ui icon input">
        <input id="myInput" class="prompt" type="text" placeholder="Pesquisar...">
        <i class="search icon"></i>
    </div>
    <div class="results">
    </div>
</div>
<br />
<br />

<div class="ui grid">
    <div class="twelve wide column"><b>TÍTULOS</b></div>
    <div class="two wide column"><b>DATA</b></div>
    <div class="two wide column"><b>FONTE</b></div>
</div>
<br />

<div id="scrollPub">
    @foreach (var pub in pubsInBD)
    {
        count++;
        <div id="esconderDiv_@count" class="ui grid">
            <div class="twelve wide column">
                <div data-tooltip="@string.Join(" ; ", pub["Autores"])" data-position="bottom left">
                    <a data-id="@count" onmouseover="" style="cursor:pointer; color:black;" onclick="sendToDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(pub))">@pub["titulo"]</a>
                </div>
            </div>
            <div class="two wide column">&nbsp;&nbsp;@pub["Ano"]</div>
            <div class="two wide column">@pub["Fonte"]</div>
        </div>
    }
</div>



<script>
    function sendToDetails(obj) {
        console.log(obj);
        $.post("PublicationDetails_Helper", { obj: JSON.stringify(obj) }, function (data) {
            window.open(data, '_blank');
        });
    }

    $('#myInput').on('keyup', function () {  //Partial View Search
        var value = $(this).val().toLowerCase();
        $("#scrollPub a").filter(function () {
            var id = $(this).data("id");
            $('#esconderDiv_' + id).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

</script>