@{
    //Layout = "_3ColsLayout";
    ViewData["Title"] = "Minhas Publicações";
    var pubsInBD = ViewBag.pubsInBD;
    var count = 0;
}


<div><h2>@ViewData["Title"]</h2></div>
<br />


<div class="ui grid">
    <div class="four wide column">
        <div class="ui category search">
            <div class="ui icon input">
                <input id="myInput" class="prompt" type="text" placeholder="Search articles...">
                <i class="search icon"></i>
            </div>
            <div class="results">
            </div>
        </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="four wide column">
        <select id="select" class="ui dropdown" onchange="filterOrder()">
            <option value="asc" selected="selected">Data Ascendente</option>
            <option value="desc">Data Descendente</option>
        </select>
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
</div>


<div class="ui grid">
    <div class="thirteen wide column"><b>TÍTULOS</b></div>
    <div class="one wide column"><b>&nbsp;&nbsp;&nbsp;DATA</b></div>
    <div class="one wide column"><b>&nbsp;&nbsp;&nbsp;FONTE</b></div>
</div>
<br />

<div id="scrollPub">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var pub in pubsInBD)
            {
                count++;
                <tr id="esconderDiv_@count">
                    <td data-id="@count" onmouseover="" style="cursor:pointer; color:black;" data-tooltip="@string.Join(" ; ", pub["Autores"])" data-position="bottom left" onclick="sendToDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(pub))">@pub["titulo"]</td>
                    <td>@pub["Ano"]</td>

                    @if (@pub["Fonte"] == "RIA")
                    {
                        <td>RIA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    }
                    else
                    {
                        <td>ORCID&nbsp;&nbsp;&nbsp;</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    function sendToDetails(obj) {
        console.log(obj);
        $.post("PublicationDetails_Helper", { obj: JSON.stringify(obj) }, function (data) {
            window.open(data, '_blank');
        });
    }

    $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    function filterOrder() {
        $("tbody").each(function (elem, index) {
            var arr = $.makeArray($("tr", this).detach());
            arr.reverse();
            $(this).append(arr);
        });
    }

</script>