
@{
    ViewData["Title"] = "Forms3";
    Layout = "~/Views/Shared/Form_Layout.cshtml";
    var dados = ViewBag.dados;
    var files = ViewBag.files;
    int i = 0;
}

    <p>@dados</p>

    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Uploaded Files | Repositório Institucional da Universidade de Aveiro</title>

        <meta name="Generator" content="DSpace 5.2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://ria.ua.pt/favicon.ico?v=2" type="image/x-icon">
        <link rel="stylesheet" href="~/6-PublicationMetaData3_files/jquery-ui-1.10.3.custom.css" type="text/css">
        @*<link rel="stylesheet" href="~/6-PublicationMetaData3_files/bootstrap.min.css" type="text/css">*@
        <link rel="stylesheet" href="~/6-PublicationMetaData3_files/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="~/6-PublicationMetaData3_files/dspace-theme.css" type="text/css">
        <link rel="stylesheet" href="~/6-PublicationMetaData3_files/ua-style.css" type="text/css">

        <link rel="search" type="application/opensearchdescription+xml" href="https://ria.ua.pt/open-search/description.xml" title="DSpace">


        <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
        <script type="text/javascript" async="" src="~/6-PublicationMetaData3_files/ga.js"></script>
        <script type="text/javascript" src="~/6-PublicationMetaData3_files/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="~/6-PublicationMetaData3_files/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="~/6-PublicationMetaData3_files/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/6-PublicationMetaData3_files/holder.js"></script>
        <script type="text/javascript" src="~/6-PublicationMetaData3_files/utils.js"></script>
        <script type="text/javascript" src="~/6-PublicationMetaData3_files/choice-support.js"></script>



        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11801506-24']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>



        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
        <style id="holderjs-style" type="text/css">
            .holderjs-fluid {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                font-family: sans-serif;
                margin: 0
            }

            .holderjs-fluid {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                font-family: sans-serif;
                margin: 0
            }
        </style>
    </head>



    <body class="undernavigation" style="">
        <a class="sr-only" href="https://ria.ua.pt/submit#content">Skip navigation</a>

        <main id="content" role="main">
            <div class="container submission-container">


                <form action="PublicationMetaData3" method="post" enctype="multipart/form-data" name="edit_metadata" id="edit_metadata" onkeydown="return disableEnterKey(event);">

                    <!--Progress Bar-->
                    <div class="row container btn-group">

                        <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_2_1" value="Describe">

                        <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_2_2" value="Describe">

                        <input class="submitProgressButtonCurrent btn btn-primary" disabled="disabled" type="submit" name="submit_jump_3_1" value="Upload">

                        <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_4_1" value="Verify">

                        <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_5_1" value="License">

                        <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_6_1" value="Complete">

                    </div>

                    <h1>
                        Submit: Uploaded Files
                    </h1>



                    @*<div class="form-group">
            <div class="col-lg-10">
                <input type="submit" name="submit" value="Upload" />
            </div>
        </div>*@

                    <div>The table below shows the files which have uploaded for this item.</div>

                    <table class="table" align="center" summary="Table dispalying your submitted files">
                        <tbody>
                            <tr>
                                <th id="t1" class="oddRowEvenCol">Primary<br>bitstream</th>
                                <th id="t2" class="oddRowOddCol">File</th>
                                <th id="t3" class="oddRowEvenCol">Size</th>
                                <th id="t4" class="oddRowOddCol">Description</th>
                                <th id="t5" class="oddRowEvenCol">File Format</th>

                            </tr>



                            @foreach (var filePath in files)
                            {
                                i++;
                                System.IO.FileInfo file = new System.IO.FileInfo(filePath);
                                <tr>
                                    
                                    <td headers="t1" class="evenRowEvenCol" align="center">
                                        <input class="form-control" type="radio" name="primary_bitstream_id" value="58836">
                                    </td>
                                    <td headers="t2" class="evenRowOddCol">
                                        <a href="~/Ficheiros/@file.Name" target="_blank" >@file.Name</a>
                                        <button class="btn btn-danger pull-right" type="submit" name="submit_remove_@i" value="Remove"  >
                                            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Remove
                                        </button>
                                    </td>
                                    <td headers="t3" class="evenRowEvenCol">@file.Length.ToString() bytes</td>
                                    <td headers="t4" class="evenRowOddCol">
                                        <em>@file.Attributes</em>
                                        @*<button type="submit" class="btn btn-default pull-right" name="submit_describe_58836" value="Change">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Change
                                        </button>*@
                                    </td>
                                    <td headers="t5" class="evenRowEvenCol">
                                        @file.Extension
                                        @*<script type="text/javascript">
                                            //Javascript starts here
                                            document.write('<a href="#" onClick="var popupwin = window.open(\'/help/formats.jsp#known\',\'dspacepopup\',\'height=600,width=550,resizable,scrollbars\');popupwin.focus();return false;">(known)</a>');
                                            // -->
                                        </script><a href="#" onclick="var popupwin = window.open('/help/formats.jsp#known','dspacepopup','height=600,width=550,resizable,scrollbars');popupwin.focus();return false;">(known)</a><a href="https://ria.ua.pt/submit#" onclick="var popupwin = window.open('/help/formats.jsp#known','dspacepopup','height=600,width=550,resizable,scrollbars');popupwin.focus();return false;">(known)</a><noscript><a href="/help/formats.jsp#known" target="dspacepopup">(known)</a></noscript>
                                        <button type="submit" class="btn btn-default pull-right" name="submit_format_58836" value="Change">
                                            <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;Change
                                        </button>*@
                                    </td>

                                </tr>

                            }

                            </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col-md-10">
                            @*<p>Upload file</p>*@
                            <input type="file" name="files" multiple />
                        </div>
                    </div>

                    <div class="row"><input class="btn btn-success col-md-2 col-md-offset-5" type="submit" name="submit_more" value="Add Another File"></div>

                    <br>


                    <p class="uploadHelp">You can verify that the file(s) have been uploaded correctly by:</p>
                    <ul class="uploadHelp">
                        <li class="uploadHelp">Clicking on the filenames above.  This will download the file in a new browser window, so that you can check the contents.</li>

                        @*<li class="uploadHelp">
                            The system can calculate a checksum you can verify.
                            <script type="text/javascript">
                                //Javascript starts here
                                document.write('<a href="#" onClick="var popupwin = window.open(\'/help/index.html#checksum\',\'dspacepopup\',\'height=600,width=550,resizable,scrollbars\');popupwin.focus();return false;">Click here for more information.</a>');
                                // -->
                            </script><a href="#" onclick="var popupwin = window.open('/help/index.html#checksum','dspacepopup','height=600,width=550,resizable,scrollbars');popupwin.focus();return false;">Click here for more information.</a><a href="https://ria.ua.pt/submit#" onclick="var popupwin = window.open('/help/index.html#checksum','dspacepopup','height=600,width=550,resizable,scrollbars');popupwin.focus();return false;">Click here for more information.</a><noscript><a href="/help/index.html#checksum" target="dspacepopup">Click here for more information.</a></noscript>
                            <input class="btn btn-info" type="submit" name="submit_show_checksums" value="Show checksums">
                        </li>*@

                    </ul>
                    <br>

                    <input type="hidden" name="workspace_item_id" value="44987"><input type="hidden" name="step" value="3"><input type="hidden" name="page" value="1"><input type="hidden" name="jsp" value="/submit/upload-file-list.jsp">


                    <div class="col-md-6 pull-right btn-group">
                        <input class="btn btn-default col-md-4" type="submit" name="submit_prev" value="Previous" @*onclick="BackToMetaData2(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))*@>
                        <input class="btn btn-default col-md-4" type="submit" name="submit_cancel" value="Cancel/Save" @*onclick="BackToPubSaved()"*@>
                        <input class="btn btn-primary col-md-4" type="submit" name="submit_next" value="Next" @*onclick="ForwardToPubSubmission(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))*@>
                        <input type="hidden" name="works" value="@Newtonsoft.Json.JsonConvert.SerializeObject(dados)" />
                    </div>

                </form>
            </div>
        </main>
        <br />


    </body>
    </html>


    <script>
        var objs = [];

        function BackToPubSaved() {
            $.post("BackToSavedPubs", { works: JSON.stringify(objs) }, function (data) {
                window.location.href = "PublicacoesSalvas";
            });
        }

        function ForwardToPubSubmission(dados) {
            $.post("PublicationSubmission_Helper", { works: JSON.stringify(dados) }, function (data) {
                window.location.href = data;
            });
        }

        function BackToMetadata1(dados) {
            $.post("PublicationMetaData1_Help", { works: JSON.stringify(dados) }, function (data) {
                window.location.href = data;
            });
        }

        function BackToMetaData2(dados) {
            $.post("PublicationMetaData2_Helper", { works: JSON.stringify(dados) }, function (data) {
                window.location.href = data;
            });
        }
    </script>
