@{
    ViewData["Title"] = "Forms1";
    Layout = "Form_Layout";
    var dados = ViewBag.dados;
}

@*<div>
    @dados
</div>*@


<!DOCTYPE html>
<!-- saved from url=(0043)https://ria.ua.pt/submit#ua_dados_aliasiupi -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Describe this Item | Repositório Institucional da Universidade de Aveiro</title>

    <meta name="Generator" content="DSpace 5.2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://ria.ua.pt/favicon.ico?v=2" type="image/x-icon">
    <link rel="stylesheet" href="~/5-PublicationMetaData1_files/jquery-ui-1.10.3.custom.css" type="text/css">
    @*<link rel="stylesheet" href="~/5-PublicationMetaData1_files/bootstrap.min.css" type="text/css">*@
    <link rel="stylesheet" href="~/5-PublicationMetaData1_files/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="~/5-PublicationMetaData1_files/dspace-theme.css" type="text/css">
    <link rel="stylesheet" href="~/5-PublicationMetaData1_files/ua-style.css" type="text/css">

    <link rel="search" type="application/opensearchdescription+xml" href="https://ria.ua.pt/open-search/description.xml" title="DSpace">


    <script type="text/javascript" async="" src="~/5-PublicationMetaData1_files/ga.js"></script>
    <script type="text/javascript" src="~/5-PublicationMetaData1_files/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/5-PublicationMetaData1_files/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/5-PublicationMetaData1_files/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/5-PublicationMetaData1_files/holder.js"></script>
    <script type="text/javascript" src="~/5-PublicationMetaData1_files/utils.js"></script>
    <script type="text/javascript" src="~/5-PublicationMetaData1_files/choice-support.js"></script>



    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11801506-24']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <style id="holderjs-style" type="text/css">
        .holderjs-fluid {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            font-family: sans-serif;
            margin: 0
        }
    </style>
</head>



<body class="undernavigation" style="">


    <main id="content" role="main">

        <div class="container submission-container">


            <c:set var="dspace.layout.head.last" scope="request">
                <script type="text/javascript" src="~/5-PublicationMetaData1_files/prototype.js"></script>
                <script type="text/javascript" src="~/5-PublicationMetaData1_files/builder.js"></script>
                <script type="text/javascript" src="~/5-PublicationMetaData1_files/effects.js"></script>
                <script type="text/javascript" src="~/5-PublicationMetaData1_files/controls.js"></script>
            </c:set>


            <form action="PublicationMetaData1" method="post" name="edit_metadata" id="edit_metadata" >

                <!--Progress Bar-->
                <div class="row container btn-group">

                    <input class="submitProgressButtonCurrent btn btn-primary" disabled="disabled" type="submit" name="submit_jump_2.1" value="Describe">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_2.2" value="Describe">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_3.1" value="Upload">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_4.1" value="Verify">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_5.1" value="License">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_6.1" value="Complete">

                </div>


                <h1>
                    Submit: Describe this Item

                </h1>


                <p>Please fill in the requested information about this submission below.  In most browsers, you can use the tab key to move the cursor to the next input box or button, to save you having to use the mouse each time.</p>


                @*----------------AUTORES-------------------*@
                <div class="help-block">
                    Introduza em baixo os nome(s) do(s) autore(s) do artigo.
                    <br>Exemplo: <b>Harnad, Stevan</b>
                </div>

                <div class="row">
                    <label class="col-md-2 label-required">autores</label>
                    <div class="col-md-10" id="autores">

                        @foreach (var name in dados["Autores"])
                        {
                            <div class="row col-md-12">
                                <div class="col-md-10 input-group">
                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible">André Ventura da Cruz Marnoto Zúquete</span>
                                    <input class="form-control ui-autocomplete-input" type="text" name="dc_contributor_author_1" id="dc_contributor_author_1" size="50" value="@name" autocomplete="off">

                                </div>
                                <button class="btn btn-danger col-md-2" name="submit_dc_contributor_author_remove_0" value="Remove Entry" onclick="RemoveTexBox(this)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    &nbsp;
                                    &nbsp;
                                    Remove Entry
                                </button>
                            </div>
                        }
                        @*<input type="hidden" name="dc_contributor_author" value="@string.Join(" ; ", dados["Autores"])" />*@
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                <input class="form-control ui-autocomplete-input" type="text" name="dc_contributor_author" id="dc_contributor_author" size="50" value="" placeholder="Provide the name of the author or its institutional mail address to start searching" autocomplete="off">
                            </div>
                            <button class="btn btn-default col-md-2" type="submit" name="submit_dc_contributor_author_add" value="Add More">
                                <span class="glyphicon glyphicon-plus"></span>
                                &nbsp;
                                &nbsp;
                                Add More
                            </button>
                        </div>


                    </div>
                </div>

                <br>

                @*-----------TITULO---------*@

                <div class="help-block">
                    Introduza o título do artigo.O título não deve terminar com pontuação. Não é possível inseri-lo em itálico. Se tiver um subtítulo coloque [ : ]. Use maiúsculas apenas para a primeira letra e nomes próprios.
                    <br>Exemplo: <b>ICT and literacy: information and communications technology, media, reading and writing</b>
                </div>

                <div class="row">
                    <label class="col-md-2 label-required">título</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="dc_title" id="dc_title" size="50" value="@dados["titulo"]">
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*----------OUTROS TITULOS----------*@
                <div class="help-block">
                    Se o artigo tiver títulos noutro idioma, insira-os em baixo.
                </div>
                <div class="row">
                    <label class="col-md-2">outros títulos</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="dc_title_alternative" id="dc_title_alternative" size="50" value="@dados["Outros Titulos"]">
                            </div>
                            <button class="btn btn-default col-md-2" name="submit_dc_title_alternative_add" value="Add More">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add More
                            </button>
                        </div>
                    </div>
                </div>
                <br>


                @*----------TITULO REVISTA------------*@
                <div class="help-block">
                    Introduza o título da revista onde o artigo foi publicado.
                    <br>Exemplo: <b>Nature</b>
                </div>
                <div class="row">
                    <label class="col-md-2 label-required">título da revista</label><div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <div class="row col-md-10">
                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                    <input class="form-control ui-autocomplete-input" type="text" name="degois_publication_title" id="degois_publication_title" size="50" value="@dados["Journal"]" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*---------------DATA----------------*@

                <div class="help-block">
                    Introduza a data da publicação ou distribuição pública. Pode deixar o mês e/ou o dia em branco se não se aplicar.
                </div>

                <div class="row">
                    <label class="col-md-2 label-required">data</label><div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="input-group col-md-10">
                                <div class="row">
                                    <span class="input-group col-md-2">
                                        <span class="input-group-addon">Day:</span>
                                        <input class="form-control" type="text" name="dc_date_issued_day" size="2" maxlength="2" value="@dados["Dia"]">
                                    </span>
                                    <span class="input-group col-md-6">
                                        <span class="input-group-addon">Month:</span>
                                        <select class="form-control" name="dc_date_issued_month">
                                            @{ String mes = dados["Mes"]; }
                                            <option value="-1" selected="selected">(No Month)</option>
                                            <option value="1" selected=@(mes == "1" || mes=="01" ? "true" : null)>January</option>
                                            <option value="2" selected=@(mes == "2" || mes=="02"? "selected" : null)>February</option>
                                            <option value="3" selected=@(mes == "3" || mes=="03"? "selected" : null)>March</option>
                                            <option value="4" selected=@(mes == "4" || mes=="04"? "selected" : null)>April</option>
                                            <option value="5" selected=@(mes == "5" || mes=="05"? "selected" : null)>May</option>
                                            <option value="6" selected=@(mes == "6" || mes=="06"? "selected" : null)>June</option>
                                            <option value="7" selected=@(mes == "7" || mes=="07"? "selected" : null)>July</option>
                                            <option value="8" selected=@(mes == "8" || mes=="08"? "selected" : null)>August</option>
                                            <option value="9" selected=@(mes == "9" || mes=="09"? "selected" : null)>September</option>
                                            <option value="10" selected=@(mes == "10" ? "selected" : null)>October</option>
                                            <option value="11" selected=@(mes == "11" ? "selected" : null)>November</option>
                                            <option value="12" selected=@(mes == "12" ? "selected" : null)>December</option>
                                        </select>
                                    </span>
                                    <span class="input-group col-md-4">
                                        <span class="input-group-addon">Year:</span>
                                        <input class="form-control" type="text" name="dc_date_issued_year" size="4" maxlength="4" value="@dados["Ano"]">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>


                @*----------Volume-----------*@
                <div class="help-block">
                    Introduza o número do volume ou a série da revista em que foi publicado.
                </div>
                <div class="row">
                    <label class="col-md-2">volume</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="degois_publication_volume" id="degois_publication_volume" size="50" value="@dados["Volume"]">
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*-------------num EDICAO--------*@
                <div class="help-block">
                    Se o registo tiver um número de edição associado.
                </div>
                <div class="row">
                    <label class="col-md-2">número da edição</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="degois_publication_issue" id="degois_publication_issue" size="50" value="@dados["Edition"]">
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*---------PAG INI---------*@
                <div class="help-block">
                    Introduza o número da página inicial do artigo.
                </div>
                <div class="row">
                    <label class="col-md-2">página inicial</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="degois_publication_firstPage" id="degois_publication_firstPage" size="50" value="@dados["StartPage"]">
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*---------PAG FINAL---------*@
                <div class="help-block">
                    Introduza o número da última página do artigo (página final).
                </div>
                <div class="row">
                    <label class="col-md-2">página final</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="degois_publication_lastPage" id="degois_publication_lastPage" size="50" value="@dados["EndPage"]">
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*--------------NOME EDITOR---------*@
                <div class="help-block">
                    Introduza o nome do editor da publicação
                    <br>Exemplo: <b>Elsevier</b>
                </div>

                <div class="row">
                    <label class="col-md-2">editor</label><div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <div class="row col-md-10">
                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                    <input class="form-control ui-autocomplete-input" type="text" name="dc_publisher" id="dc_publisher" size="50" value="" autocomplete="off">
                                </div>
                                <div class="col-md-2">
                                    <span id="dc_publisher_indicator" style="display: none;"><img src="~/5-PublicationMetaData1_files/load-indicator.gif" alt="Loading..."></span><div id="dc_publisher_autocomplete" class="autocomplete" style="display: none;"> </div>
                                    <script type="text/javascript">var gigo = DSpaceSetupAutocomplete('edit_metadata', { metadataField: 'dc_publisher', isClosed: 'false', inputName: 'dc_publisher', authorityName: 'dc_publisher_authority', containerID: 'dc_publisher_autocomplete', indicatorID: 'dc_publisher_indicator', contextPath: '', confidenceName: 'dc_publisher_confidence', confidenceIndicatorID: 'dc_publisher_confidence_indicator_id', collection: 377 });</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*-------------ISSN----------*@
                <div class="help-block">
                    Código de 8 dígitos que identifica a revista.
                    <br>Exemplo: <b>0028-0836</b>
                </div>

                <div class="row">
                    <label class="col-md-2">ISSN</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="dc_identifier_issn" id="dc_identifier_issn" size="50" value="@dados["ISSN"]">
                            </div>
                        </div>
                    </div>
                </div>

                <br>


                @*---------------e-ISSN-----------*@
                <div class="help-block">
                    Código de 8 dígitos que identifica a versão digital da revista.
                    <br>Exemplo: <b>1476-4687</b>
                </div>
                <div class="row"><label class="col-md-2">e-ISSN</label><div class="col-md-10"><div class="row col-md-12"><div class="col-md-10"><input class="form-control" type="text" name="dc_identifier_essn" id="dc_identifier_essn" size="50" value=""></div></div></div></div><br>

                @*---------------------DOI-----------------*@
                <div class="help-block">
                    Se este registo tiver algum identificador DOI associado, insira em baixo.
                    <br>Exemplo: <b>10.1016/j.ensm.2018.04.026</b>
                </div>

                <div class="row">
                    <label class="col-md-2">DOI</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="dc_identifier_doi" id="dc_identifier_doi" size="50" value="@dados["DOI"]">
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                @*--------------------Versao Editora-----------------*@
                <div class="help-block">
                    Introduza o endereço electrónico da versão publicada do artigo. Algumas revistas exigem a colocação de um link para a sua versão (versão final do editor).
                </div>
                <div class="row">
                    <label class="col-md-2">versão da editora</label>
                    <div class="col-md-10">
                        <div class="row col-md-12">
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="dc_relation_publisherversion" id="dc_relation_publisherversion" size="50" value="@dados["Versao da Editora"]">
                            </div>
                        </div>
                    </div>
                </div><br>

                @*--------------------Revisao por Pares-----------------*@
                <div class="help-block">
                    Indique se a versão que está a depositar foi revista por pares especialistas (refereeing / peer review).
                </div>
                <div class="row">
                    <label class="col-md-2">revisão por pares (peer-review)</label>
                    <span class="col-md-8">
                        <select class="form-control" name="dc_peerreviewed">
                            <option value="yes" selected="@(dados["Revisao por pares"] == "sim" ? "selected" : null)">sim</option>
                            <option value="no" selected="@(dados["Revisao por pares"] == "nao" || dados["Revisao por pares"] == null ? "selected" : null)">não</option>
                        </select>
                    </span>
                </div><br>


                @*--------------------TIPO-----------------*@
                <div class="help-block">
                    Selecione o tipo do conteúdo que está a depositar.
                </div>
                <div class="row">
                    <label class="col-md-2 label-required">tipologia do documento</label>
                    <span class="col-md-8">
                        <select class="form-control" name="dc_type">
                            <option value="article" selected="@(dados["Tipologia"] == "JOURNAL_ARTICLE" ? "selected" : null)">article</option>
                            <option value="bachelorThesis">bachelorThesis</option>
                            <option value="masterThesis">masterThesis</option>
                            <option value="doctoralThesis">doctoralThesis</option>
                            <option value="book">book</option>
                            <option value="bookPart">bookPart</option>
                            <option value="review">review</option>
                            <option value="conferenceObject" selected="@(dados["Tipologia"] == "CONFERENCE_PAPER" ? "selected" : null)">conferenceObject</option>
                            <option value="lecture">lecture</option>
                            <option value="preprint">preprint</option>
                            <option value="workingPaper">workingPaper</option>
                            <option value="report">report</option>
                            <option value="annotation">annotation</option>
                            <option value="contributionToPeriodical">contributionToPeriodical</option>
                            <option value="patent">patent</option>
                            <option value="other">other</option>
                        </select>
                    </span>
                </div>

                <br>


                @*------------------ESTADO---------------*@
                <div class="help-block">
                    Indique o estado atual da publicação
                </div>

                <div class="row">
                    <label class="col-md-2 label-required">estado da publicação</label>
                    <span class="col-md-8">
                        <select class="form-control" name="dc_description_version">
                            <option value="published" selected=@(dados["EstadoPub"] == "published" ? "selected" : null)>Publicado</option>
                            <option value="in publication">Em publicação</option>
                            <option value="submitted">Submetido</option>
                            <option value="Not Published">Não publicado</option>
                        </select>
                    </span>
                </div>

                <br>

                @*-------------IDIOMA-------------*@
                <div class="help-block">
                    Selecione o idioma do conteúdo principal do trabalho. Se o idioma não aparecer na lista em baixo selecione "Outra". Se ao conteúdo não se aplicar um idioma (por exemplo, uma imagem) selecione "N/A".
                </div>

                <div class="row">
                    <label class="col-md-2 label-required">idioma</label><span class="col-md-8">
                        <select class="form-control" name="dc_language_iso">
                            <option value="">N/A</option>
                            <option value="por" selected=@(dados["Language"] == "pt-PT" ? "selected" : null)>português</option>
                            <option value="por" selected=@(dados["Language"] == "pt-BR" ? "selected" : null)>português</option>
                            <option value="eng" selected=@(dados["Language"] == "en-GB" ? "selected" : null)>inglês</option>
                            <option value="eng" selected=@(dados["Language"] == "en-US" ? "selected" : null)>inglês</option>
                            <option value="spa">espanhol</option>
                            <option value="deu">alemão</option>
                            <option value="fra">francês</option>
                            <option value="ita">italiano</option>
                            <option value="jpn">japonês</option>
                            <option value="cmn">chinês</option>
                            <option value="other">(outro)</option>
                        </select>
                    </span>
                </div>

                <br>

                <input type="hidden" name="workspace_item_id" value="44987"><input type="hidden" name="step" value="2"><input type="hidden" name="page" value="1"><input type="hidden" name="jsp" value="/submit/edit-metadata.jsp">
                <div class="row">
                    <div class="col-md-4 pull-right btn-group">
                        <input class="btn btn-default col-md-6" type="submit" name="submit_cancel" value="Cancel/Save" @*onclick="BackToPubSaved()"*@ />
                        <input class="btn btn-primary col-md-6" type="submit" name="submit_next" value="Next" @*onclick="ForwardToMetaData2(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))"*@>
                        <input type="hidden" name="works" value="@Newtonsoft.Json.JsonConvert.SerializeObject(dados)" />
                        <input type="hidden" name="pubID" value="@dados["ID"]" />
                    </div><br>
                </div>
            </form>

            

            <br />


            <!-- <span id="string-measurer" class="ua-string-measurer" >
    </span> -->

            <script type="text/javascript" src="~/5-PublicationMetaData1_files/ua-script.js"></script>

        </div>
    </main>
</body>
</html>


<script>
    function GetDynamicTextboc() {
        return '<div class="col-md-10 input-group">'+
                                    '<span role="status" aria-live="polite" class="ui-helper-hidden-accessible">André Ventura da Cruz Marnoto Zúquete</span>'+
                                    '<input class="form-control ui-autocomplete-input" type="text" name="dc_contributor_author" id="dc_contributor_author_1" size="50" value="" autocomplete="off">'+
                                '</div>'+
                                '<button class="btn btn-danger col-md-2" name="submit_dc_contributor_author_remove_0" value="Remove Entry" onclick="RemoveTexBox(this)">'+
                                    '<span class="glyphicon glyphicon-trash"></span>'+
                                    '&nbsp;&nbsp;Remove Entry'+
                                '</button>'
    }

    function AddTexBox() {
        var div = document.createElement("div");
        div.className = "row col-md-12";
        div.innerHTML = GetDynamicTextboc();
        document.getElementById("autores").appendChild(div);
    }

    function RemoveTexBox(div) {
        document.getElementById("autores").removeChild(div.parentNode);
    }

    var objs = [];
    function BackToPubSaved() {
        $.post("BackToSavedPubs", { works: JSON.stringify(objs) }, function (data) {
            window.location.href = "PublicacoesSalvas";
        });
    }

    function ForwardToMetaData2(dados) {
        $.post("PublicationMetaData2_Helper", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }
</script>