
@{
    ViewData["Title"] = "PublicationSubmission";
    Layout = "~/Views/Shared/Form_Layout.cshtml";
    var dados = ViewBag.dados;
}

<p>@dados</p>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Verify Submission | Repositório Institucional da Universidade de Aveiro</title>

    <meta name="Generator" content="DSpace 5.2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://ria.ua.pt/favicon.ico?v=2" type="image/x-icon">
    <link rel="stylesheet" href="~/7-VerifySubmission_files/jquery-ui-1.10.3.custom.css" type="text/css">
    @*<link rel="stylesheet" href="~/7-VerifySubmission_files/bootstrap.min.css" type="text/css">*@
    <link rel="stylesheet" href="~/7-VerifySubmission_files/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="~/7-VerifySubmission_files/dspace-theme.css" type="text/css">
    <link rel="stylesheet" href="~/7-VerifySubmission_files/ua-style.css" type="text/css">

    <link rel="search" type="application/opensearchdescription+xml" href="https://ria.ua.pt/open-search/description.xml" title="DSpace">


    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript" async="" src="~/7-VerifySubmission_files/ga.js"></script>
    <script type="text/javascript" src="~/7-VerifySubmission_files/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/7-VerifySubmission_files/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/7-VerifySubmission_files/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/7-VerifySubmission_files/holder.js"></script>
    <script type="text/javascript" src="~/7-VerifySubmission_files/utils.js"></script>
    <script type="text/javascript" src="~/7-VerifySubmission_files/choice-support.js"></script>



    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11801506-24']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <style id="holderjs-style" type="text/css">
        .holderjs-fluid {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            font-family: sans-serif;
            margin: 0
        }

        .holderjs-fluid {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            font-family: sans-serif;
            margin: 0
        }
    </style>
</head>



<body class="undernavigation" style="">
    <a class="sr-only" href="https://ria.ua.pt/submit#content">Skip navigation</a>

    <main id="content" role="main">

        <div class="container submission-container">

            <form action="PublicationSubmission" method="post" name="edit_metadata" id="edit_metadata" onkeydown="return disableEnterKey(event);">

                <!--Progress Bar-->
                <div class="row container btn-group">

                    <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_2_1" value="Describe">

                    <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_2_2" value="Describe">

                    <input class="submitProgressButtonDone btn btn-info" type="submit" name="submit_jump_3_1" value="Upload">

                    <input class="submitProgressButtonCurrent btn btn-primary" disabled="disabled" type="submit" name="submit_jump_4.1" value="Verify">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_5.1" value="License">

                    <input class="submitProgressButtonNotDone btn btn-default" disabled="disabled" type="submit" name="submit_jump_6.1" value="Complete">

                </div>

                <h1>
                    Submit: Verify Submission
                </h1>

                <p><strong>Not quite there yet,</strong> but nearly!</p>

                <div class="alert alert-info">Please spend a few minutes to examine what you've just submitted below. If anything is wrong, please go back and correct it by using the buttons next to the error, or by clicking on the progress bar at the top of the page.</div>

                <p><strong>If everything is OK,</strong> please click the "Next" button at the bottom of the page.</p>

                <p>You can safely check the files which have been uploaded - a new window will be opened to display them.</p>
                <div class="container">

                    <div class="well row">
                        <div class="col-md-10">
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">autores</span>
                                <span class="metadataFieldValue col-md-8">
                                    @{ if (dados["Autores"] != null)
                                        {
                                            foreach (string au in dados["Autores"])
                                            {
                                                <span>@au</span>
                                                <br />
                                            }
                                        }
                                    }
                                </span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">IUPI do autor</span>
                                <span class="metadataFieldValue col-md-8">
                                    @dados["IUPI"]<br>
                                </span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">forma de nome e IUPI do autor*</span>
                                <span class="metadataFieldValue col-md-8">Zúquete, André|66eccbc8-c131-45bb-ab10-04ab220e4423<br>Vieira, José M. N.|66c74f1f-8c45-4f43-9a85-be4975eecc09<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">título</span>
                                <span class="metadataFieldValue col-md-8">@dados["titulo"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">outros títulos</span>
                                <span class="metadataFieldValue col-md-8">
                                    @{
                                        if (dados["Outros Titulos"] != null)
                                        {
                                            foreach (string au in dados["Outros Titulos"])
                                            {
                                                <span>@au</span>
                                                <br />
                                            }
                                        }
                                    }
                                </span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">título da revista</span>
                                <span class="metadataFieldValue col-md-8">
                                    @dados["Journal"]
                                    <span class="ds-authority-confidence cf--1"></span>
                                    <br>
                                </span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">data</span>

                                @{ string dia = dados["Dia"];
                                    string mes = dados["Mes"];
                                    string ano = dados["Ano"];
                                    string data = dia + "-" + mes + "-" + ano;
                                }
                                <span class="metadataFieldValue col-md-8">@data<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">volume</span>
                                <span class="metadataFieldValue col-md-8">@dados["Volume"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">número da edição</span>
                                <span class="metadataFieldValue col-md-8">@dados["Edition"]</span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">página inicial</span>
                                <span class="metadataFieldValue col-md-8">@dados["StartPage"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">página final</span>
                                <span class="metadataFieldValue col-md-8">@dados["EndPage"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">editor</span>
                                <span class="metadataFieldValue col-md-8">@dados["Editor"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">ISSN</span>
                                <span class="metadataFieldValue col-md-8">@dados["ISSN"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">e-ISSN*</span>
                                <span class="metadataFieldValue col-md-8">1572-8196<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">DOI</span>
                                <span class="metadataFieldValue col-md-8">@dados["DOI"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">versão da editora</span>
                                <span class="metadataFieldValue col-md-8">https://link.springer.com/content/pdf/10.1007/s11276-017-1450-0.pdf<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">revisão por pares (peer-review)</span>
                                <span class="metadataFieldValue col-md-8">@dados["Revisao por pares"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">tipologia do documento</span>
                                @{ string tipo = "";
                                    if (dados["Tipologia"] == "CONFERENCE_PAPER")
                                    {
                                        tipo = "conferenceObject";
                                    }
                                    else if (dados["Tipologia"] == "JOURNAL_ARTICLE")
                                        tipo = "article";
                                }
                                <span class="metadataFieldValue col-md-8">@tipo<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">estado da publicação</span>
                                <span class="metadataFieldValue col-md-8">@dados["EstadoPub"]<br></span>
                            </div>

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">idioma</span>
                                <span class="metadataFieldValue col-md-8">@dados["Language"]<br></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input class="btn btn-default" type="submit" name="submit_jump_2_1" value="Correct one of these">
                        </div>

                    </div>

                    <div class="well row">

                        <div class="col-md-10">

                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">palavras-chave</span>
                                <span class="metadataFieldValue col-md-8">802.11 networks; Ad-hoc networks; Broadcast communication; Fountain codes; LT codes; Operating system installation<br></span>
                            </div>
                            
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">resumo</span>
                                <span class="metadataFieldValue col-md-8">@dados["Abstract"]<br></span>
                            </div>
                            
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">projeto financiado</span>
                                <span class="metadataFieldValue col-md-8"><em>None</em></span>
                            </div>
                            
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">patrocinadores</span>
                                <span class="metadataFieldValue col-md-8"><em>None</em></span>
                            </div>
                            
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">nível de acesso</span>
                                <span class="metadataFieldValue col-md-8">Acesso Restrito<br></span>
                            </div>
                            
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">data final do embargo</span>
                                <span class="metadataFieldValue col-md-8"><em>None</em></span>
                                </div>
                            
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4 ">licenças Creative Commons (CC)</span>
                                <span class="metadataFieldValue col-md-8"><em>None</em></span>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <input class="btn btn-default" type="submit" name="submit_jump_2_2" value="Correct one of these">
                        </div>

                    </div>

                    <div class="well row">

                        <div class="col-md-10">
                            <div class="row">
                                <span class="metadataFieldLabel col-md-4">Uploaded&nbsp;Files:</span>
                                <span class="metadataFieldValue col-md-8">

                                    <a href="https://ria.ua.pt/retrieve/58836/zuquete2017.pdf" target="_blank">zuquete2017.pdf</a> - Adobe PDF
                                    (Known)

                                    <br>

                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <input class="btn btn-default" type="submit" name="submit_jump_3_1" value="Add or Remove a File">

                        </div>
                    </div>

                </div>

                <input type="hidden" name="workspace_item_id" value="44987"><input type="hidden" name="step" value="4"><input type="hidden" name="page" value="1"><input type="hidden" name="jsp" value="/submit/review.jsp">

                <div class="col-md-6 pull-right btn-group">
                    <input class="btn btn-default col-md-4" type="submit" name="submit_prev" value="Previous" @*onclick="BackToMetaData3(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))"*@>
                    <input class="btn btn-default col-md-4" type="submit" name="submit_cancel" value="Cancel/Save" @*onclick="BackToPubSaved()"*@>
                    <input class="btn btn-primary col-md-4" type="submit" name="submit_next" value="Next" @*onclick="ForwardToLicense(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))"*@>
                    <input type="hidden" name="works" value="@Newtonsoft.Json.JsonConvert.SerializeObject(dados)" />
                </div>

            </form>
        </div>
    </main>

    <br />



</body>
</html>


<script>
    var objs = [];
    function BackToPubSaved() {
        $.post("BackToSavedPubs", { works: JSON.stringify(objs) }, function (data) {
            window.location.href = "PublicacoesSalvas";
        });
    }

    function ForwardToLicense(dados) {
        $.post("dSPaceLicense_Helper", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

    function BackToMetadata1(dados) {
        $.post("PublicationMetaData1_Help", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

    function BackToMetaData2(dados) {
        $.post("PublicationMetaData2_Helper", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

    function BackToMetaData3(dados) {
        $.post("PublicationMetaData3_Helper", { works: JSON.stringify(dados) }, function (data) {
            window.location.href = data;
        });
    }

</script>