@{
    //Layout = "_3ColsLayout";
    ViewData["Title"] = "Importar para UA CRIS";

    List<MVC_2020_Business.Models.Work> works = ViewBag.PublicacoesPTCris;

    var pubsInBD = ViewBag.worksInBD;
    var count = 0;
    var seta1 = "seta1_" + count;
    var seta2 = "seta2_" + count;
}

<div><h2>@ViewData["Title"]</h2></div>
<br />

<div class="ui grid">
    <div class="six wide column">
        <div class="column">
            <form action="publicacoes" method="post">
                <input type="hidden" name="import" value="True" />
                <button type="submit" class="ui primary button">Importar</button>
            </form>
        </div>
    </div>
    <div class="one wide column"></div>
    <div class="five wide column">
        <div class="ui category search">
            <div class="ui icon input">
                <input id="myInput" class="prompt" type="text" placeholder="Pesquisar...">
                <i class="search icon"></i>
            </div>
            <div class="results">
            </div>
        </div>
    </div>
    <div class="two wide column">
        <button type="button" class="ui primary button" style="width:100px" onclick="toggleText()"><i class="info circle icon"></i>Ajuda</button>
    </div>
    <div class="two wide column ">
        <button class="ui primary button" onclick="saveAll()">Guardar</button>
    </div>
</div>
<br />
<div class="ui grid">
    <div id="hidden_info" style="display:none; background-color:lightgray;border-radius:5px">
        <br />
        <p>&nbsp Utilize as setas <i class="arrow alternate circle right icon"></i> e <i class="arrow alternate circle left icon"></i> para escolher as publicações que quer colocar no RIA.</p>
        <br />
        <p>&nbsp Utilize o botão <button class="ui primary button">Guardar</button> para confirmar e guardar a esolha das publicações. As  publicações irão para a página @Html.ActionLink("Detalhes", "Detail", "Home", null)</p>
    </div>
    <br />
</div>

<div class="ui grid">
    <div class="six wide column text-center">ORCID</div>
    <div class="two wide column"></div>
    <div class="six wide column text-center">UA CRIS</div>
</div>
<br />

<div id="scrollPub">
    @if (pubsInBD != null)
    {
        @foreach (var pub in pubsInBD)
        {

            count++;
            seta1 = "seta1_" + count;
            seta2 = "seta2_" + count;

            <div id="esconderDiv_@count" class="ui grid">
                <div class="seven wide column" data-tooltip="@string.Join(" ; ", pub["Autores"])" data-position="bottom left">
                    <a data-id="@count" onmouseover="" style="cursor:pointer; color:black;" onclick="sendToDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(pub))">@pub["titulo"]</a>
                </div>
                <div class="two wide column">
                    <i id="@seta1" class="arrow alternate circle right icon" onclick="OrcidToRia(@Newtonsoft.Json.JsonConvert.SerializeObject(pub), @count)"></i>
                    <i id="@seta2" class="arrow alternate circle left icon" style="display:none" onclick="CancelOrcidToRia(@Newtonsoft.Json.JsonConvert.SerializeObject(pub), @count)"></i>
                </div>
                <div id="@count" class="seven wide column"></div>
            </div>
        }
    }
    else
    {
        <p>Todas as publicações já estão Sincronizadas</p>
    }
</div>


@if (works != null)
{
    var c = 0;
    foreach (var work in works)
    {
        <p>@work.title.title - @c</p>
        c++;
    }
}

<script>
    var objs = [];

    function sendToDetails(obj) {
        console.log(obj);
        $.post("PublicationDetails_Helper", { obj: JSON.stringify(obj) }, function (data) {
            window.open(data,'_blank');
        });
        @* window.open('@Url.Action("Publication_details","Home")');*@
    }

    function OrcidToRia(obj, idDiv) {
        console.log(obj);
        var div = document.getElementById("" + idDiv);
        if (typeof (div) != 'undefined' && div != null) {
            var seta1 = document.getElementById("seta1_" + idDiv);
            seta1.style.display = "none";
            var seta2 = document.getElementById("seta2_" + idDiv);
            seta2.style.display = "block";
            div.innerHTML = obj["titulo"];
            objs.push(obj["titulo"]);
        }
    }

    function CancelOrcidToRia(obj, idDiv) {
        console.log(obj);
        var div = document.getElementById("" + idDiv);
        if (typeof (div) != 'undefined' && div != null) {
            var seta1 = document.getElementById("seta1_" + idDiv);
            seta1.style.display = "block";
            var seta2 = document.getElementById("seta2_" + idDiv);
            seta2.style.display = "none";
            div.innerHTML = null;
            objs.pop(obj["titulo"]);
        }
    }

    function saveAll() {
        $.post("SavePub", { works: JSON.stringify(objs) }, function (data) {
            window.location.href = "PublicacoesSalvas";
            //$("#main_area").html(data);
        });
    }

    $('#myInput').on('keyup', function () {  //Partial View Search
        var value = $(this).val().toLowerCase();
        $("#scrollPub a").filter(function () {
            var id = $(this).data("id");
            $('#esconderDiv_' + id).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    function toggleText() {
        var text = document.getElementById("hidden_info");
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }



    var tag = document.getElementById('hidden_info');
    var button = document.querySelector('button');
    button.addEventListener('click', function () {
        tag.classList.toggle('hidden_info');
    });

</script>

@*@section RightColumn{
    Recursos adicionais:
    <ul>
        <li>
            <a href="https://fomantic-ui.com" target="_blank">Fomantic-UI</a>
        </li>
    </ul>
    }*@
