@{
    //Layout = "_3ColsLayout";
    ViewData["Title"] = "Importar para UA CRIS";

    //List<MVC_2020_Business.Models.Work> works = ViewBag.PublicacoesPTCris;

    var pubsInBD = ViewBag.worksInBD;
    var count = 0;
    var seta1 = "seta1_" + count;
    var seta2 = "seta2_" + count;
    var orcidID = ViewBag.OrcidID;
    var c = 0;
}

<div><h2>@ViewData["Title"]</h2></div>
<br />

<div class="ui grid">
    <div class="six wide column">
        <div class="column">
            <form action="publicacoes" method="post">
                <input type="hidden" name="import" value="True" />
                @if (orcidID == null)
                {
                    <span style="cursor: not-allowed;" class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Para importar, introduza ORCID ID no Perfil">
                        <button type="submit"  class="ui primary button" disabled>Importar</button>
                    </span>
                }
                else
                {
                    <button type="submit" class="ui primary button">Importar</button>
                }
            </form>
        </div>
    </div>
    <div class="one wide column"></div>
    <div class="five wide column">
        <div class="ui category search">
            <div class="ui icon input">
                <input id="myInput" class="prompt" type="text" placeholder="Procurar...">
                <i class="search icon"></i>
            </div>
            <div class="results">
            </div>
        </div>

    </div>
    <div class="two wide column ">
        <button id="btn-Guardar" disabled class="ui primary button" onclick="saveAll()">Guardar</button>
    </div>
    <div class="two wide column">
        <button type="button" class="ui primary button" style="width:100px" onclick="toggleText()"><i class="info circle icon"></i>Ajuda</button>
    </div>
</div>

<div class="ui grid" id="hidden_info" style="display:none; background-color:lightgray;border-radius:5px">
    <br />
    <p>&nbsp Utilize as setas <i class="arrow alternate circle right icon"></i> e <i class="arrow alternate circle left icon"></i> para escolher as publicações que quer colocar no RIA.</p>

    <p>&nbsp Utilize o botão <button class="ui primary button">Guardar</button> para confirmar e guardar a esolha das publicações. As  publicações irão para a página @Html.ActionLink("Detalhes", "Detail", "Home", null)</p>
    <br />
</div>
<br />


<b>
    @foreach (var pub in pubsInBD)
    {
        c++;
    }
    @c Publicações
</b>
<div class="ui grid">
    <div class="four wide column">
        <select id="select" class="ui dropdown" onchange="filterOrder()">
            <option value="asc" selected="selected">Data Ascendente</option>
            <option value="desc">Data Descendente</option>
        </select>
    </div>
    <div class="four wide column">
    </div>
    <div class="four wide column">
    </div>
    <div class="four wide column">
    </div>
</div>

<div class="ui grid">
    <div class="six wide column text-center"><b>&nbsp;&nbsp;&nbsp;ORCID</b></div>
    <div class="two wide column"></div>
    <div class="six wide column text-center"><b>&nbsp;UA CRIS</b></div>
</div>
<br />

<div id="scrollPub">
    @if (pubsInBD != null)
    {
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th style="width:45%; text-align:center"></th>
                    <th style="width:10%; text-align:center"></th>
                    <th style="width:45%; text-align:center"></th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var pub in pubsInBD)
                {
                    count++;
                    seta1 = "seta1_" + count;
                    seta2 = "seta2_" + count;
                    <tr id="esconderDiv_@count">
                        <td data-id="@count" onmouseover="" style="cursor:pointer; color:black;" data-tooltip="@string.Join(" ; ", pub["Autores"])" data-position="bottom left" onclick="sendToDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(pub))">
                            @pub["titulo"]
                        </td>
                        <td>
                            <i id="@seta1" class="arrow alternate circle right icon" onclick="OrcidToRia(@Newtonsoft.Json.JsonConvert.SerializeObject(pub), @count)"></i>
                            <i id="@seta2" class="arrow alternate circle left icon" style="display:none" onclick="CancelOrcidToRia(@Newtonsoft.Json.JsonConvert.SerializeObject(pub), @count)"></i>
                        </td>
                        <td id="@count"></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Não tem nenhuma publicações Importada!</p>
    }
</div>



@*@if (works != null)  //só para ver o que vem do botão importar
    {
        var c = 0;
        foreach (var work in works)
        {
            <p>@work.title.title - @c</p>
            c++;
        }
    }*@

<script>
    var objs = [];

    function sendToDetails(obj) {
        $.post("PublicationDetails_Helper", { obj: JSON.stringify(obj) }, function (data) {
            window.open(data,'_blank');
        });
        @* window.open('@Url.Action("Publication_details","Home")');*@
    }

    function OrcidToRia(obj, idDiv) {
        var div = document.getElementById("" + idDiv);
        if (typeof (div) != 'undefined' && div != null) {
            var seta1 = document.getElementById("seta1_" + idDiv);
            seta1.style.display = "none";
            var seta2 = document.getElementById("seta2_" + idDiv);
            seta2.style.display = "block";
            div.innerHTML = obj["titulo"];
            objs.push(obj["titulo"]);
        }
        document.getElementById("btn-Guardar").disabled = false;

    }

    function CancelOrcidToRia(obj, idDiv) {
        var div = document.getElementById("" + idDiv);
        if (typeof (div) != 'undefined' && div != null) {
            var seta1 = document.getElementById("seta1_" + idDiv);
            seta1.style.display = "block";
            var seta2 = document.getElementById("seta2_" + idDiv);
            seta2.style.display = "none";
            div.innerHTML = null;
            objs.pop(obj["titulo"]);
        }
        if (objs.length == 0) {
            document.getElementById("btn-Guardar").disabled = true;
        } else {
            document.getElementById("btn-Guardar").disabled = false;
        }
    }

    function saveAll() {
        $.post("SavePub", { works: JSON.stringify(objs) }, function (data) {
            window.location.href = "PublicacoesSalvas";
            //$("#main_area").html(data);
        });
    }

    function toggleText() {
        var text = document.getElementById("hidden_info");
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    var tag = document.getElementById('hidden_info');
    var button = document.querySelector('button');
    button.addEventListener('click', function () {
        tag.classList.toggle('hidden_info');
    });

    $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    function filterOrder() {
        $("tbody").each(function (elem, index) {
            var arr = $.makeArray($("tr", this).detach());
            arr.reverse();
            $(this).append(arr);
        });
    }

 </script>

@*@section RightColumn{
    Recursos adicionais:
    <ul>
        <li>
            <a href="https://fomantic-ui.com" target="_blank">Fomantic-UI</a>
        </li>
    </ul>
    }*@
