@{
    ViewData["Title"] = "Detalhes";
    //var works = ViewBag.Titulos;
    var worksPTCris = ViewBag.PublicacoesPTCris2;
    var worksAllInfo = ViewBag.PubSaved;
}

<h2>@ViewData["Title"]</h2>

<div>
    @if (worksAllInfo != null)
    {
        var count = 0;
        //var worksTitles = new List<string>();
        <div>
            @foreach (var work in worksAllInfo)
            {
                count++;
            <div>
                <href onmouseover="" style="cursor:pointer;" onclick="sendToDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(work))" target="_blank">@work["titulo"] &nbsp</href>
                <button id="@count" class="ui basic primary button" onclick="SendToRIA(@Newtonsoft.Json.JsonConvert.SerializeObject(work))">Submit</button>
            </div>
            }
        </div>
    }
    else
    {
        <div>
            <p>Zero publicações adicionadas!!</p>
        </div>
    }
</div>



@*<i class="external alternate icon" onclick="OpenFirstPageRia(@Newtonsoft.Json.JsonConvert.SerializeObject(work), @count)></i>*@


<script>
    function sendToDetails(obj) {
        console.log(obj);
        $.post("PublicationDetails_Helper", { obj: JSON.stringify(obj) }, function (data) {
            window.open(data, '_blank');
        });
        @* window.open('@Url.Action("Publication_details","Home")');*@
    }

    function OpenFirstPageRia(obj, idDiv) {
        var div = document.getElementById("" + idDiv);
        if (typeof (div) != 'undefined' && div != null) {

        }
    }

    function SendToRIA(obj) {
        console.log(obj);
        $.post("PublicationMetaData1_Help", { obj: JSON.stringify(obj) }, function (data) {
            //alert("Go to Details");
            window.location.href = data;
            //window.location.href = "PublicationMetaData1";
            //$("#main_area").html(data);
        });
    }

</script>