@{
    ViewData["Title"] = "Detalhes";
    var dados = ViewBag.OrgUnit;
}

<h2>Detalhes da Unidade de Investigação - @dados.Acronym</h2>
<br />

<div class="ui two item menu">
    <a class="item" onclick="editarOrgUnit(@dados)">Editar</a>
    <a class="item">Apagar</a>
</div>

<div class="ui modal">
    @*Header*@
    <div class="header">Editar Unidade de Investigação</div>
    @*<div class="ui icon header">
            <i class="archive icon"></i>
            Archive Old Messages
        </div>*@

    @*Content*@
    <div class="content">
        <p>Edite os dados da unidade de investigação.</p>

        <form class="ui form" method="post" onsubmit="sendObj(@Newtonsoft.Json.JsonConvert.SerializeObject(dados))">

            <div class="field" style="display:none">
                <input type="number" name="orgUnitId" value="@dados.OrgUnitId">
            </div>

            <div class="field">
                <label>Nome</label>
                <input type="text" name="nome" placeholder="Nome" value="@dados.Name"> 
            </div>

            <div class="field">
                <label>Acrónimo</label>
                <input type="text" name="acronimo" placeholder="Acrónimo" value="@dados.Acronym">
            </div>

            <div class="field">
                <label>Morada</label>
                @if (dados.Address != null)
                {
                    <input type="text" name="morada" placeholder="Morada" value="@dados.Address["Line1"]">
                }
                else
                {
                    <input type="text" name="morada" placeholder="Morada">
                }

            </div>

            <div class="field">
                <label>Data início</label>
                <input type="date" name="data_ini" placeholder="Data início" value="@dados.IDStartDate">
            </div>

            <div class="field">
                <label>Data fim</label>
                <input type="date" name="data_fim" placeholder="Data fim" value="@dados.IDEndDate">
            </div>

            <div class="field">
                <label>Uri</label>
                <input type="text" name="uri" placeholder="Uri" value="@dados.URI">
            </div>

            <div class="field">
                <label>Fraction</label>
                <input type="number" min="" max="" name="fraction" placeholder="Fraction" value="@dados.OG2Fraction">
            </div>

            <div class="field">
                <label>orgUnitId2</label>
                <input type="number" min="" max="" name="orgUnitId2" placeholder="orgUnitId2" value="@dados.OrgUnitId2">
            </div>

            <div class="field">
                <label>value</label>
                <input type="text" name="value" placeholder="value" value="@dados.Value">
            </div>

            <div class="field">
                <label>langId</label>
                <input type="number" min="" max="" name="langId" placeholder="langId" value="@dados.ActLanguageId">
            </div>

            <div class="field">
                <label>activityText</label>
                <input type="text" name="activityText" placeholder="activityText" value="@dados.Text">
            </div>

            <div class="field">
                <label>Keywords</label>
                <input type="text" name="keywords" placeholder="Keywords" value="@dados.Keywords">
            </div>

            @*<div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>I agree to the Terms and Conditions</label>
                    </div>
                </div>*@

            <div class="row">
                <div class="col-md-4 pull-right btn-group">
                    @*<input class="btn btn-default col-md-6" type="submit" name="submit_cancel" value="Cancel" />*@
                    <button class="ui button" type="submit" name="cancelar_bt" value="cancel">Cancelar</button>
                    <button class="ui primary button" type="submit" name="adicionar_bt" value="add">Adicionar</button>
                </div>
                <br>
            </div>

        </form>
    </div>
</div>

<br />
<br />

<div>
    <table class="ui very basic table">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>@dados.Name</td>
            </tr>
            <tr>
                <th>URI</th>
                <td>@dados.URI</td>
            </tr>
            <tr>
                <th>Data início</th>
                <td>@dados.IDStartDate</td>
            </tr>
            <tr>
                <th>Data fim</th>
                <td>@dados.IDEndDate</td>
            </tr>
            <tr>
                <th>Morada</th>
                @if (dados.Address != null)
                {
                    <td>@dados.Address["Line1"]</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            <tr>
                <th>Atividade</th>
                <td>@dados.Text</td>

            </tr>
            <tr>
                <th>UIs Relacionadas</th>
                <td>@dados.OrgUnitI2</td>
            </tr>
            <tr>
                <th>Língua</th>
                <td>@dados.ActLanguageId</td>
            </tr>
        </tbody>

    </table>
</div>

<script>
    function editarOrgUnit() {
        $('.ui.modal')
            .modal('show')
            ;
    }

    function sendObj(obj) {
        $.post("Details", { obj: JSON.stringify(obj) });
        @* window.open('@Url.Action("Publication_details","Home")');*@
    }

</script>