@using MVC_2020_Database.DataModels

@{
    ViewData["Title"] = "Investigação";
    var listOrgUnit = ViewBag.OrgUnits;
    var listAddresses = ViewBag.Adresses;
}


<h2>Unidades de Investigação</h2>

<!--primeira coluna-->
<div class="ui grid">
    <div class="six wide column">
        <button type="button" class="ui primary button" onclick="openModal()">Entrar</button>
    </div>

    <div class="two wide column"></div>

    <div class="five wide column">
        @*<div class="ui category search">
                <div class="ui icon input">
                    <input id="myInput" class="prompt" type="text" placeholder="Procurar...">
                    <i class="search icon"></i>
                </div>
                <div class="results">
                </div>
            </div>*@
    </div>

    <div class="two wide column">
        <button type="button" class="ui primary button" style="width:100px" onclick="toggleText()"><i class="info circle icon"></i>Ajuda</button>
    </div>
</div>

<!--menu ajuda-->
<div class="ui grid" id="hidden_info" style="display:none; background-color:lightgray;border-radius:5px">
    <br />
    <p>
        &nbsp Utilize o botão
        <button type="button" class="ui primary button" @*onclick="openModal()"*@>Entrar</button> para entrar numa Unidade de Investigação.
    </p>

    <p>
        &nbsp Utilize o botão
        <button class="ui primary button" @*onclick="openUIDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(orgUnit))"*@>Mais detalhes</button> para ver mais detalhes de determinada Unidade de Investigação.

    </p>
    <br />
</div>
<br />
<br />


@*Modal*@
<div class="ui modal">
    @*Header*@
    <div class="header">Entrar em Unidade de Investigação</div>

    @*Content*@
    <div class="content">
        @*<p>Preencha os campos com os dados da unidade de investigação.</p>*@

        <form class="ui form" method="post">

            @*dropdown*@
            <div class="grouped fields">
                <label>Selecione a Unidade de Investigação a que trabalhou.</label>

                <div class="field">
                    <select name="org">
                        <option value="-1"></option>
                        @if (listOrgUnit != null)
                        {
                            @foreach (MVC_2020_Business.Models.UnidadeInvestigacao orgUnit in listOrgUnit)
                            {
                                <option value="@orgUnit.OrgUnitId">@orgUnit.Name (@orgUnit.Acronym)</option>
                            }
                        }
                        else
                        {
                            <option value="-1">Nenhuma Unidade de Investigação disponível.</option>
                        }

                    </select>
                </div>

            </div>
            <br />

            <div class="field">
                <label>Data início</label>
                <input type="date" name="data_ini" placeholder="Data início">
            </div>

            <div class="field">
                <label>Data fim</label>
                <input type="date" name="data_fim" placeholder="Data fim">
            </div>


            <div class="row">
                <div class="col-md-4 pull-right btn-group">
                    <button class="ui button" type="submit" name="cancelar_bt" value="cancel">Cancelar</button>
                    <button class="ui primary button" type="submit" name="adicionar_bt" value="add">Entrar</button>
                </div>
                <br>
            </div>

        </form>
    </div>
</div>

@if (listOrgUnit != null)
{
    <div class="ui two cards">

        @foreach (MVC_2020_Business.Models.UnidadeInvestigacao orgUnit in listOrgUnit)
        {
            var morada = "";
            foreach (PAddress add in listAddresses)
            {
                if (orgUnit.PAddressId == add.PAddressId)
                    morada = add.Line1 + " " + add.PostCode;
            }

            <div class="ui raised card" id="@orgUnit.OrgUnitId">
                <div class="content">
                    <div class="header">@orgUnit.Name (@orgUnit.Acronym)</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">@orgUnit.Text</h4>

                    <div class="ui feed">

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data início:</a> @orgUnit.IDStartDate
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data fim: </a> @orgUnit.IDEndDate
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">

                                    <a>Morada:</a> @morada

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui primary button" onclick="openOrgDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(orgUnit))">Mais detalhes</button>
                </div>
            </div>

        }


        @*<div class="ui raised card" href="">
                <div class="content">
                    <div class="header">Instituto de Materiais de Aveiro (CICECO)</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Resumo</h4>

                    <div class="ui feed">

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data início:</a> 01/01/1111
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Data fim: </a> 01/01/1111
                                </div>
                            </div>
                        </div>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Mais dados:</a> bla bla
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui primary button" onclick="window.open('@Url.Action("Details", "Org", new { target = "_blank" })')">Mais detalhes</button>
                </div>
            </div>*@

    </div>
}
else
{
    <p>Não tem registo das Unidades de Investigação em que trabalhou.</p>
    <p>Pode inserir um registo através do botão <button class="ui primary button">Entrar</button></p>
}

<script>
    function toggleText() {
        var text = document.getElementById("hidden_info");
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    function openModal() {
        $('.ui.modal')
            .modal('show')
            ;
    }

    //dropdown dentro do modal
    $('select.dropdown')
        .dropdown()
        ;

    function openOrgDetails(org) {
        $.post("Details_Helper", { org: JSON.stringify(org) }, function (data) {
            window.open(data, '_blank');
        });
    }


</script>
