@using MVC_2020_Database.DataModels

@{
    ViewData["Title"] = "Investigação";
    var listOrgUnit = ViewBag.OrgUnits;
}


<h2>Unidades de Investigação</h2>

<!--primeira coluna-->
<div class="ui grid">
    <div class="six wide column">
        <button type="button" class="ui primary button" onclick="openModal()">Entrar</button>
    </div>

    <div class="two wide column"></div>

    <div class="five wide column">
        <div class="ui category search">
            <div class="ui icon input">
                <input id="myInput" class="prompt" type="text" placeholder="Procurar...">
                <i class="search icon"></i>
            </div>
            <div class="results">
            </div>
        </div>
    </div>

    <div class="two wide column">
        <button type="button" class="ui primary button" style="width:100px" onclick="toggleText()"><i class="info circle icon"></i>Ajuda</button>
    </div>
</div>

<!--menu ajuda-->
<div class="ui grid" id="hidden_info" style="display:none; background-color:lightgray;border-radius:5px">
    <br />
    <p>
        &nbsp Utilize as setas
        <i class="arrow alternate circle right icon"></i> e
        <i class="arrow alternate circle left icon"></i> para escolher as publicações que quer colocar no RIA.
    </p>

    <p>
        &nbsp Utilize o botão
        <button class="ui primary button">Guardar</button> para confirmar e guardar a esolha das publicações. As  publicações irão para a página @Html.ActionLink("Detalhes", "Detail", "Home", null)
    </p>
    <br />
</div>
<br />
<br />


@*Modal*@
<div class="ui modal">
    @*Header*@
    <div class="header">Entrar em Unidade de Investigação</div>
    @*<div class="ui icon header">
            <i class="archive icon"></i>
            Archive Old Messages
        </div>*@

    @*Content*@
    <div class="content">
        <p>Preencha os campos com os dados da unidade de investigação.</p>

        <form class="ui form">

            @*dropdown*@
            <div class="grouped fields">
                <label>Selecione a Unidade de Investigação a que trabalhou.</label>

                <div class="field">
                    <select>
                        <option value="-1"></option>
                        @if (listOrgUnit != null)
                        {
                            @foreach (MVC_2020_Business.Models.UnidadeInvestigacao orgUnit in listOrgUnit)
                            {
                                <option value="@orgUnit.OrgUnitId">@orgUnit.Name (@orgUnit.Acronym)</option>
                            }
                        }
                        else
                        {
                            <option value="-1">Nenhuma Unidade de Investigação disponível.</option>
                        }

                    </select>
                </div>

            </div>
            <br />

            @*campos a preencher*@
            @*<div class="field">
            <label>Nome</label>
            <input type="text" name="nome" placeholder="Nome">
        </div>

        <div class="field">
            <label>Acrónimo</label>
            <input type="text" name="acronimo" placeholder="Acrónimo">
        </div>*@

            <div class="field">
                <label>Data início</label>
                <input type="date" name="data_ini" placeholder="Data início">
            </div>

            <div class="field">
                <label>Data fim</label>
                <input type="date" name="data_fim" placeholder="Data fim">
            </div>

            @*<div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>I agree to the Terms and Conditions</label>
            </div>
        </div>*@

            <div class="row">
                <div class="col-md-4 pull-right btn-group">
                    <button class="ui button" type="submit" name="cancelar" value="cancel">Cancelar</button>
                    <button class="ui primary button" type="submit" name="adicionar" value="add">Adicionar</button>
                </div>
                <br>
            </div>

        </form>
    </div>
</div>

<div class="ui two cards">
    <div class="ui raised card">
        <div class="content">
            <div class="header">Instituto de Engenharia Eletrónica e Informática de Aveiro (IEETA)</div>
        </div>
        <div class="content">
            <h4 class="ui sub header">Resumo</h4>

            <div class="ui feed">

                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <a>Morada</a>: rua da esquina
                        </div>
                    </div>
                </div>

                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <a>Dados:</a> bla bla
                        </div>
                    </div>
                </div>

                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <a>Mais dados:</a> bla bla
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui primary button" onclick="window.open('@Url.Action("Details", "Org", new { target = "_blank" })')">Editar</button>
        </div>
    </div>


    <div class="ui raised card" href="">
        <div class="content">
            <div class="header">Instituto de Materiais de Aveiro (CICECO)</div>
        </div>
        <div class="content">
            <h4 class="ui sub header">Resumo</h4>

            <div class="ui feed">

                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <a>Morada</a>: rua da esquina
                        </div>
                    </div>
                </div>

                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <a>Dados:</a> bla bla
                        </div>
                    </div>
                </div>

                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <a>Mais dados:</a> bla bla
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui primary button" onclick="window.open('@Url.Action("Details", "Org", new { target = "_blank" })')">Editar</button>
            @* qd tiver dinamico descomentar linha de baixo para abrir pagina details da UI selecionada *@
            @*<button class="ui primary button" onclick="openDetails(@Newtonsoft.Json.JsonConvert.SerializeObject(orgUnit))">Mais detalhes</button>*@
        </div>
    </div>

</div>

<script>
    function toggleText() {
        var text = document.getElementById("hidden_info");
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    function openModal() {
        $('.ui.modal')
            .modal('show')
            ;
    }

    //dropdown dentro do modal
    $('select.dropdown')
        .dropdown()
        ;

    function openOrgDetails(org) {
        $.post("Details_Helper", { org: JSON.stringify(org) }, function (data) {
            window.open(data, '_blank');
        });
    }


</script>
